%script{:src => "//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry", :type => "text/javascript"}
%script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", :type => "text/javascript"}
%h1 Geolocation
%br
%div{:style => "width: 800px;"}
  #geolocation{:style => "width: 800px; height: 400px;"}
    
  -# %div{:style => "width: 800px;"}
  -#   #basic_map{:style => "width: 800px; height: 400px;"}
  -# %br
  -# %div{:style => "width: 800px;"}
  -#   #one_marker{:style => "width: 800px; height: 400px;"}
  -# %br
  -# %div{:style => "width: 800px;"}
  -#   #multi_markers{:style => "width: 800px; height: 400px;"}
