=form_for(@employee)do|f|
  .col-sm-12
    .col-sm-3
      =f.label :id
    .col-sm-3
      =f.text_field :id,:readonly => true
  .col-sm-12
    .col-sm-3
      =f.label :name
    .col-sm-3
      =f.text_field :name
    .col-sm-3
      =f.label :date_of_birth
    .col-sm-3
      =f.text_field :date_of_birth
  .col-sm-12
    .col-sm-3
      =f.label :phone_no
    .col-sm-3
      =f.text_field :phone_no
    .col-sm-3
      =f.label :email_id
    .col-sm-3
      =f.text_field :email_id
  .col-sm-12
    .col-sm-3
      =f.label :date_of_joining
    .col-sm-3
      =f.text_field :date_of_joining
    .col-sm-3
      =f.label :qualification
    .col-sm-3
      =f.text_field :qualification
  .col-sm-12
    .col-sm-3
      =f.label :designation
    .col-sm-3
      =f.text_field :designation
    .col-sm-3
      =f.label "Upload Photo"
    .col-sm-3
      =f.file_field :avatar
    .col-sm-3
      =f.submit 'Add'
      =f.submit 'cancel'
