f.label=form_for(@employee)do|f|
  .col-sm-12
    .col-sm-3
      =f.label :id
    .col-sm-3
      =f.text_field :id
    .col-sm-3
      =f.label :name
    .col-sm-3
      =f.text_field :name
  .col-sm-12
    .col-sm-3
      =f.label :phone_no
    .col-sm-3
      =f.text_field :phone_no
    .col-sm-3
      =f.label :email_id
    .col-sm-3
      =f.text_field :email_id
  .col-sm-12
    .col-sm-3
      =f.label :date_of_joining
    .col-sm-3
      =f.text_field :date_of_joining
    .col-sm-3
      =f.label :designation
    .col-sm-3
      =f.text_field :designation
  .col-sm-12
    .col-sm-3
      =f.label :date_of_leaving
    .col-sm-3
      =f.text_field :date_of_leaving
    .col-sm-3
      =f.label :reason
    .col-sm-3
      =f.text_field :reason
  .col-sm-12
    .col-sm-3
      =f.submit 'save'
      =f.submit 'cancel'
