=form_for(@task) do |f|
  .col-sm-12
    .col-sm-3
      =f.label :project_id
    .col-sm-3
      =f.text_field :project_id
    .col-sm-3
      =f.label :project_name
    .col-sm-3
      =f.text_field :project_name
  .col-sm-12
    .col-sm-3
      =f.label :subproject_id
    .col-sm-3
      =f.text_field :subproject_id
    .col-sm-3
      =f.label :subproject_name
    .col-sm-3
      =f.text_field :subproject_name
  .col-sm-12
    .col-sm-3
      =f.label :id
    .col-sm-3
      =f.text_field :id
  .col-sm-12
    .col-sm-3
      =f.label :task_name
    .col-sm-3
      =f.text_field :task_name
  .col-sm-12
    .col-sm-3
      =f.label :priority
    .col-sm-3
      = f.select :priority, options_for_select([['low'],['medium'],['high']]),{:include_blank => 'Select'}
  .col-sm-12
    .col-sm-3
      =f.label :expected_number_of_days
    .col-sm-3
      =f.text_field :expected_number_of_days
  .col-sm-12
    .col-sm-3
      =f.submit 'done'
      =f.submit 'cancel'
