=form_for(@subproject) do |f|
  .col-sm-12
    .col-sm-3
      =f.label :project_id
    .col-sm-3
      =f.text_field :project_id,:readonly => true
    .col-sm-3
      =f.label :project_name
    .col-sm-3
      =f.text_field :project_name,:readonly => true
  .col-sm-12
    .col-sm-3
      =f.label :id
    .col-sm-3
      =f.text_field :id,:readonly => true
  .col-sm-12
    .col-sm-3
      =f.label :subproject_name
    .col-sm-3
      =f.text_field :subproject_name
    .col-sm-3
      =f.label :subproject_description
    .col-sm-3
      =f.text_field :subproject_description
  .col-sm-12
    .col-sm-3
      =f.label :owner
      =f.text_field :owner
  .col-sm-12
    .col-sm-3
      =f.label :date_of_starting
    .col-sm-3
      =f.text_field :date_of_starting
    .col-sm-3
      =f.label :expected_date_of_completion
    .col-sm-3
      =f.text_field :expected_date_of_completion
  .col-sm-12
    .col-sm-3
      =f.label :number_of_tasks
    .col-sm-3
      =f.text_field :number_of_tasks
    .col-sm-3
      =f.label :number_of_tasks_completed
    .col-sm-3
      =f.text_field :number_of_tasks_completed
  .col-sm-12
    .col-sm-3
      =f.submit 'add_tasks'
      =f.submit 'save'
      =f.submit 'cancel'
      =f.submit 'close'
      =f.submit 'suspend'
      =f.submit 'abandon'
