=form_for(@subproject) do |f|
  .col-sm-12
    .col-sm-3
      =f.label :project_id
    .col-sm-3
      =f.text_field :project_id,:readonly => true,:class =>"form-control"
    .col-sm-3
      =f.label :project_name
    .col-sm-3
      = @subproject.project.project_name
  .col-sm-12
    .col-sm-3
      =f.label :id
    .col-sm-3
      =f.text_field :id,:readonly => true,:class =>"form-control"
    .col-sm-3
      =f.label :subproject_name
    .col-sm-3
      =f.text_field :subproject_name,:class =>"form-control"
  .col-sm-12
    .col-sm-3
      =f.label :subproject_description
    .col-sm-3
      =f.text_field :subproject_description,:class =>"form-control"
    .col-sm-3
      =f.label :owner
    .col-sm-3
      =f.text_field :owner,:class =>"form-control"
  .col-sm-12
    .col-sm-3
      =f.label :date_of_starting
    .col-sm-3
      =f.text_field :date_of_starting,:class =>"form-control"
    .col-sm-3
      =f.label :expected_date_of_completion
    .col-sm-3
      =f.text_field :expected_date_of_completion,:class =>"form-control"
  .col-sm-12
    .col-sm-3
      =f.label :number_of_tasks
    .col-sm-3
      =f.text_field :number_of_tasks,:class =>"form-control"
    .col-sm-3
      =f.label :number_of_tasks_completed
    .col-sm-3
      =f.text_field :number_of_tasks_completed,:class =>"form-control"
  .col-sm-12
    %br
    %center
      =f.submit 'save',:class => "btn btn-success"
      =f.submit 'cancel',:class => "btn btn-danger"
  
    
