=form_for(@subproject) do |f|
  .col-sm-12
    .col-sm-3
      =f.label :project_id
    .col-sm-3
      =f.text_field :project_id,:class =>"form-control"
    .col-sm-3
      =f.label :project_name
    .col-sm-3
      =f.text_field :project_name,:class =>"form-control"
  .col-sm-12
    .col-sm-3
      =f.label :subproject_id
    .col-sm-3
      =f.text_field :subproject_id,:class =>"form-control"
    .col-sm-3
      =f.label :subproject_name
    .col-sm-3
      =f.text_field :subproject_name,:class =>"form-control"
  .col-sm-12
    .col-sm-3
      =f.label :subproject_description
    .col-sm-3
      =f.text_field :subproject_description,:class =>"form-control"
    .col-sm-3
      =f.label :constraints
    .col-sm-3
      =f.text_field :constraints,:class =>"form-control"
  .col-sm-12
    .col-sm-3
      =f.label :primary_owner,:class =>'control-label '
    .col-sm-3
      = f.select :primary_owner, options_for_select([['a'],['b'],['c']]),{:include_blank => 'Select'},:class =>"form-control"
    .col-sm-3
      =f.label :date_of_starting
    .col-sm-3
      =f.text_field :date_of_starting,:class =>"form-control"
  .col-sm-12
    .col-sm-3
      =f.label :expected_date_of_completion
    .col-sm-3
      =f.text_field :expected_date_of_completion,:class =>"form-control"
  .col-sm-12
    %br
    %center
      =f.submit 'done',:class => "btn btn-success"
      =f.submit 'cancel',:class => "btn btn-danger"
